<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="css/bootstrap-3.3.2/bootstrap.min.css">
    <script src="js/bootstrap-3.3.2/bootstrap.min.js"></script>
</head>

<body>
<h1>{{.Title}}</h1>

<form action="add" method="POST">
    <div class="form-group">
        <label for="url">URL</label>
        <input type="url" class="form-control" id="url" placeholder="Enter URL">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

</body>

</html>
